@media screen and (max-width: 768px) {
  div.modal-aviso{
    width: 100% !important;
    padding-top: 5em !important;
  }
  div.modal-aviso div.fluxo-1 > p{
    padding: 1em;
  }
  div.modal-aviso div.modal-content > div.row{
    padding: 1em;
  }
  div#modalNoticia{
    transform: scale(1) !important;
  }
  div#modalLogin{
    transform: scale(1) !important;
  }
  .fixed-action-btn.horizontal{
    display: none;
  }
  .fixed-action-btn.vertical{
    display: block;
  }
  div.fixed-action-btn ul li{
    text-align: left;
    position: relative;
  }
  .linha-badges>h6{
    padding-top: 2.3em;
  }
  div.fixed-action-btn div.filter-desc{
    position: absolute;
    top: .3em;
    right: 0;
    z-index: 1;
    left: 3.5em;
    color: white;
  }
  div.fixed-action-btn ul{
    left: 0;
    right: auto;
    text-align: center;
    position: absolute;
    bottom: 64px;
    margin: 0;
    visibility: hidden;
  }
  div.card>div.card-content div.filtro-map-btn{
    position: absolute;
    left: 0;
    bottom: 0;
    top: auto;
    margin-top: -2em;
    padding-top: 0;
    margin-bottom: 0;
    z-index: 997;
    margin-right: 1em;
  }
  nav.navbar-padrao  a.brand-logo > img{
    width: 90% !important;
    margin-top: 5rem !important;
    transform: scale(1.4) !important;
  }
  div#modalParticipe{
    margin-top: 10rem;
  }
  div.modal-dialog div.modal-content{
    padding: 0px !important;
  }
  div.modal div.modal-content{
    padding: 0px !important;
  }
  div.modal div.modal-content div.modal-body{
    padding: .6rem !important;
  }
  a.btn-participe{
    width: 100% !important;
  }
  .modal-open{
    overflow: auto !important;
  }
  div.midias{
    margin-top: 2em !important;
  }
  nav.navbar-padrao  a.button-collapse > i{
    color: #48a79b;
    font-size: 3.5em;
  }
  div.alerta  div.attr{
    width: 95%;
  }
  app-perfil div.card div.card-content{
    padding: 0px;
  }
  div.content div.col-md-12{
    padding: 0px !important;
  }
  div.input-field{
    z-index: 1;
  }
  div.card-perfil{
    padding: 0px !important;
  }
  div.modal-adap{
    width: 25em !important;
    transform: scale(.97) !important;
  }
  #grid-noticia li.flex-item{
      width: 100%;
      padding: .5em;
  }
  .modal-adap .content-form-noticias{
    padding: 1em;
  }
  div ul.tabs-padrao.responsive{
    display: flex;
    height: 4.5em;
  }
  div ul.tabs-padrao.not-responsive{
    display: none;
  }
  .tabs-padrao i.icon-tabs{
    font-size: 2em;
    padding-top: .3em;
  }
  a.brand-logo img{
    margin: 0 auto;
    padding-top: 2em;
  }
  .information{
    margin-top: 0em !important;
  }

  /* #header-fortaleza ul.mobile-hide{

  } */
  .navbar-toggle{
    margin-right: 0 !important;
    padding-right: 0 !important;
  }
  div.check-desafio button{
    margin-top: 3em !important;
  }
  .informacoes > a > img{
    width: 100%;
  }
  .progress span{
    color: #000;
    position: absolute !important;
    top: -1.3em !important;
  }
  .gamification table.desafios tr td{
    padding: 0px !important;
  }
  .gamification{
    padding-top: 3em !important;
  }
  .gamification a.btn-padrao-1{
    padding-top: 0em !important;
    padding-bottom: 0em !important;
  }
  .table-resp tr{
    display: inline-grid;
  }
  .table-resp tr td{
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 0;
  }
  #aviso-modal .modal-content{
    padding: 1em !important;
  }
  .modal.open{
    padding-bottom: .5em !important;
  }
  li.perfil{
    margin-bottom: 2em;
    margin-top: 1em;
  }
  .logo-cart-extrato{
    width: 285px !important;
    top: 53px !important;
    margin: 0 auto;
  }
  .black-overlay > p{
    top: 63% !important;
    text-align: center;
  }
  .box-search{
    margin: 0 !important;
    width: 100% !important; 
  }
  .box-prest h6 > span{
    display: inline-block !important;
    margin: 0 !important;
    margin-right: .5em !important;
    margin-top: .3em !important;
    margin-bottom: .8em !important;
  }
  .box-tittle-prest{
    text-align: center;
  }
  .btn-chegar{
    display: block !important;
    margin: 0 !important;
    margin-top: .7em !important;
  }
  .container-fluid{
    padding: 0 !important;
    /* padding-left: 5px !important; */
    /* padding-right: 5px !important; */
  }
  .enderecos{
    padding-bottom: 1em;
  }
  .box-info{
    border: 1px solid #212121 !important;
    padding-bottom: 2em;
    height: auto !important;
  }
  .box-tipo{
    display: block !important;
  }
  .box-tipo h6{
    padding-bottom: .5em;
  }
  #labs-modal.open{
    /* top: 0% !important; */
  }
  #labs-modal .row{
    margin: 0;
  }
  #labs-modal{
    width: 95%;
    max-height: 85%;
    /* top: 3% !important; */
  }
  .box-login{
    margin-top: 0em !important;
    backdrop-filter: blur(0px) !important;
    background: rgb(23 19 24 / 30%) !important;
    margin-left: .5em !important;
    margin-right: .5em !important;
    position: relative !important;
    top: 1em !important;
    border-radius: 4px !important;
    padding-top: 1em !important;
  }
  .home .nav-home .brand-logo{
    position: absolute;
    left: 57px;
    margin: 0;
    transform: initial;
    width: 200px;
  }
  .home .nav-home .brand-logo img{
    padding: 0;
    width: 77%;
    margin-top: 3px;
    margin: 0;
  }
  .home .nav-home a.button-collapse{
    color: #000;
  }
  .teleatendimento{
    position: relative !important;
    top: 0 !important;
    width: 100%;
    padding-left: 40px;
    border-bottom: 0 !important;
    margin-top: 1em !important;
  }
  .teleatendimento .break{
    display: table-column;
  }
  .teleatendimento i{
    padding-right: 10px;
  }
  .grid-mansory{
    margin-top: 1.5em !important;
    padding-top: 1em !important;
  }
  .line-meses > div{
    text-align: left !important;
    padding: 3px !important;
  }
  .despesas-meses{
    padding: 3px !important;
    border: none !important;
    font-weight: bold !important;
    font-size: 12px !important;
    display: block !important;
    margin-top: 0 !important;
  }
  span.totais{
    display: block;
    font-weight: 400 !important;
    font-size: 14px !important;
  }
  .line-meses{
    border-radius: 20px !important;
    box-shadow: 3px 10px 12px -12px rgba(0, 0, 0, 0.42) !important;
    border-bottom: 3px solid #64a9a4 !important;
  }
  .info-status h5.title{
    padding: 1em;
    text-align: center;
  }
  .temp-contri{
    text-align: center !important;
  }
  .temp-contri small{
    display: block;
  }
  .tittle-mobile{
    text-align: center;
    font-size: 15px;
    padding-top: .5em;
    padding-bottom: .5em;
  }
  .info-status-left{
    float: left !important;
  }
  .no-padding-mob{
    padding: 0 !important;
  }
  .card-graph-desp{
    box-shadow: none !important;
    display: block !important;
    border-bottom-right-radius: 30px !important;
    border-bottom-left-radius: 30px !important;
  }
  .btn-licensa-icon{
    display: table-caption !important;
  }
  .btn-licensa-icon i{
    padding: 0 !important;
    padding-bottom: .3em !important;
  }
  .atend{
    margin-top: 1em !important;
    text-align: center;
    padding-bottom: 1.7em !important;
    position: relative;
    top: 10px;
  }
  .align-carg h6{
    padding-left: 10px !important;
  }
  .modal-opt{
    margin-bottom: 0 !important;
    padding-bottom: 2em;
  }
  .no-padding-mobile{
    padding: 0 !important;
  }
}

@media screen and (min-width: 768px) {
  span.totais{
    display: none;
  }
  .fixed-action-btn.horizontal{
    display: block;
  }
  .fixed-action-btn.vertical{
    display: none;
  }
  div ul.tabs-padrao.responsive{
    display: none;
  }
  div ul.tabs.not-responsive{
    display: block;
  }
  a.brand-logo{
    position: relative;
  }
  
}

@media (max-width: 991px){
  .titulo-mobile{
    display: block !important;
  }
  /* .laudo .stats{
    text-align: right !important;
    padding-top: 1.3em !important;
  } */
  .navbar-sistema .navbar-toggle{
    display: inline !important;

  }
}

@media (min-width: 1200px){
  
}